# This file should be linked from ~/.config/starship.toml
#
# Documentation: https://starship.rs/config/#prompt
#
# some ideas from https://gist.github.com/ryo-ARAKI/48a11585299f9032fa4bda60c9bba593
#

command_timeout = 5000

[git_status]
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇡${ahead_count}⇣${behind_count}"

## CUSTOM SETTINGS ================================================

## I don't want my aws region in the prompt...
[aws]
disabled = true

[directory]
style = "bold bright-cyan"
fish_style_pwd_dir_length = 1

[perl]
disabled = true

[custom.prolog]
command = "swipl --version | cut -d' ' -f3"
extensions = ["pl"]
format = "via [ v$output ](bold blue)"

