/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: 'JetBrainsMono Nerd Font','Fira Code','DejaVu Sans Mono','Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback', 'NotoEmoji Nerd Font Mono';
    font-size: 12px;
}

window {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 1);
}

window#waybar.solo {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    color: rgba(217, 216, 216, 1);
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(217, 216, 216, 0.4)
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    background-color: darkred;
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

#mode, 
#battery, 
#cpu, 
#memory, 
#pulseaudio, 
#bluetooth,
#idle_inhibitor, 
#temperature {
    margin: 0px 6px 0px 10px;
    min-width:  25px;
    color: darkgray;
}

#clock.time {
    margin: 0px 0px 0px 5px;
    min-width: 50px;
    background-color: darkgray;
    color: black;
    font-weight: bold;
}

#network {
    margin: 0px 0 0 5px;
    color: darkgray;
}

/* customize sway/mode */
#mode {
    color: black;
    background-color: magenta;
    font-weight: bold;
    font-style: italic;
    padding-right: 10px;
}

#idle_inhibitor {
    background: @background;
}

#battery.critical {
    color: darkred;
	animation: blinker 1s linear infinite;
}

#battery.warning {
    color: orange;
	animation: blinker 2s linear infinite;
}

#language {
    margin: 0px 6px 0px 10px;
    color: darkgray;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
