* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: 'JetBrainsMono Nerd Font','Fira Code','DejaVu Sans Mono','Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback', 'NotoEmoji Nerd Font Mono';
    font-size: 12px;
}

window {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 1);
}

window#waybar.solo {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    color: rgba(217, 216, 216, 1);
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(217, 216, 216, 0.4)
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    background-color: darkred;
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

/* Some colors */
@define-color sound lightgray;
@define-color bluetooth lightgray;
@define-color network lightgray;
@define-color cpu lightgray;
@define-color battery white;
@define-color batteryWarning orange;
@define-color batteryCritical darkred;
@define-color language lightgray;
@define-color date white;
@define-color clock black;
@define-color clockbg darkgray;
@define-color arrow-dark #1a1a1a;
@define-color arrow-light #292b2e;


#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: @arrow-dark;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: @arrow-light;
    background: @arrow-dark;
}

#custom-left-arrow-dark-time {
    color: @clockbg;
    background: @arrow-dark;
}

#custom-left-arrow-light-time {
    color: @arrow-light;
    background: @clockbg;
}

#mode,
#battery,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#idle_inhibitor,
#network,
#language,
#clock.date,
#tray,
#temperature {
    margin: 0;
    min-width:  25px;
    background: #1a1a1a;
}

#pulseaudio {
    color: @sound;
}

#bluetooth {
    color: @bluetooth;
}

#cpu {
    color: @cpu;
}

#network {
    color: @network;
}

#battery {
    color: @battery;
}

#battery.critical {
    color: @batteryCritical;
    animation: blinker 1s linear infinite;
}

#battery.warning {
    color: @batteryWarning;
    animation: blinker 2s linear infinite;
}

#language {
    color: @language;
}

#clock.date {
    color: @date;
}

#clock.time {
    min-width: 50px;
    background-color: @clockbg;
    color: @clock;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* customize sway/mode */
#mode {
    color: black;
    background-color: magenta;
    font-weight: bold;
    font-style: italic;
    padding-right: 10px;
}