/* General settings ------------------------------------------------- */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* Some colors */

/* Colors (gruvbox) */
@define-color black     #282828;
@define-color red       #cc241d;
@define-color green     #98971a;
@define-color yellow    #d79921;
@define-color blue      #458588;
@define-color purple    #b16286;
@define-color aqua      #689d6a;
@define-color gray      #a89984;
@define-color brgray    #928374;
@define-color brred     #fb4934;
@define-color brgreen   #b8bb26;
@define-color bryellow  #fabd2f;
@define-color brblue    #83a598;
@define-color brpurple  #d3869b;
@define-color braqua    #8ec07c;
@define-color white     #ebdbb2;
@define-color bg2       #504945;

@define-color sound           @brpurple;
@define-color network         @purple;
@define-color cpu             @green;
@define-color battery         @aqua;
@define-color batteryWarning  orange;
@define-color batteryCritical darkred;
@define-color language        @brblue;
@define-color date            @white;
@define-color clock           @black;
@define-color clockbg         @white;
@define-color barBg           #292b2e;

/* The whole bar */
#waybar {
    background: @barBg;
    color: white;
    font-family: 'JetBrainsMono Nerd Font','Fira Code','DejaVu Sans Mono','Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback', 'NotoEmoji Nerd Font Mono';
    font-size: 12px;
}

window {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 1);
}

window#waybar.solo {
    color: rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

/* left side -------------------------------------------------------- */
#workspaces {
    color: rgba(217, 216, 216, 1);
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(217, 216, 216, 0.4)
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    color: white;
    background-color: darkred;
}

#workspaces button.active {
    background-color: darkred;
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

/* customize sway/mode */
#mode {
    color: black;
    background-color: magenta;
    font-weight: bold;
    font-style: italic;
    padding-right: 10px;
}

/* right side ------------------------------------------------------- */
#mode,
#battery,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#idle_inhibitor,
#network,
#language,
#clock.date,
#clock.time,
#tray,
#temperature {
    margin: 0;
    margin-right: 4px;
    min-width:  25px;
    background: black;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#pulseaudio {
    color: @sound;
}

#cpu {
    color: @cpu;
}

#network {
    color: @network;
    margin-left: 3px;
}

#language {
    color: @language;
}

#clock.date {
    color: @date;
}

#clock.time {
    min-width: 50px;
    background-color: @clockbg;
    color: @clock;
    font-weight: bold;
}

#battery {
    min-width: 30px;
    color: @battery;
}

#battery.critical {
    color: @batteryCritical;
    background-color: white;
    animation: blinker 0.5s linear infinite;
}

#battery.warning {
    color: @batteryWarning;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

