configuration {
  modi: "drun,run,combi";
  combi-modi: "drun,run";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "gruvbox-dark-hard"

/* Documentation: https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown */
element {
	orientation: horizontal;
	children: [ element-icon, element-text ];
	spacing: 12px;
}
