[General]
borderColor=@Variant(\0\0\0\x43\x1\xff\xffss\xd2\xd2\x16\x16\0\0)
borderSize=4
dotColor=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\0\0\0\0\0\0)
enableZoom=true
screen=0
shade=true
shadeColor=@Variant(\0\0\0\x43\x1\xff\xff\"\"\"\"\"\"\0\0)
showBorder=false
spotShape=spotshapes/Circle.qml
spotSize=32
zoom=true
zoomFactor=1.5
