<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bat" />
  <package id="cascadia-code-nerd-font" />
  <package id="emacs" />
  <package id="Everything" />
  <package id="fd" />
  <package id="fzf" />
  <package id="gh" />
  <package id="git" />
  <package id="greenshot" />
  <package id="keepassxc" />
  <package id="meld" />
  <package id="neovim" />
  <package id="nerd-fonts-JetBrainsMono" />
  <package id="nodejs" />
  <package id="powershell-core" />
  <package id="ripgrep" />
  <package id="signal" />
  <package id="snoop" />
  <package id="sourcetree" />
  <package id="starship" />
  <package id="telegram" />
  <package id="tortoisegit" />
  <package id="vim" />
  <package id="vscode" />
  <package id="yazi" />
  <package id="zoomit" />
  <package id="zoxide" />
</packages>
