[Desktop Entry]
Type=Application
Name=Signal (sway)
Comment=Signal Private Messenger for Linux
Icon=signal-desktop
Exec=signal-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Signal
