[Desktop Entry]
Type=Application
Name=Signal (sway)
Comment=Signal Private Messenger for Linux
Icon=signal-desktop
Exec=signal-desktop --ozone-platform-hint=auto
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Signal
