[Desktop Entry]
Name=Visual Studio Code (wayland)
Comment=Code Editing. Refined.
GenericName=Text Editor
Exec=/opt/visual-studio-code/code --enable-features=UseOzonePlatform --ozone-platform=wayland %F
Icon=visual-studio-code
Type=Application
StartupNotify=false
StartupWMClass=code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/opt/visual-studio-code/code ---enable-features=UseOzonePlatform --ozone-platform=wayland  -no-sandbox --new-window %F
Icon=visual-studio-code
